body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:28px;
  top:20px;
  width:93px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:27px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:89px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:121px;
  top:41px;
  width:669px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:660px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:669px;
  height:1px;
}
#u3 {
  position:absolute;
  left:28px;
  top:20px;
  width:102px;
  height:26px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
}
#u4 {
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:28px;
  top:123px;
  width:763px;
  height:188px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:188px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:123px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:37px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:53px;
  top:0px;
  width:246px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:37px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:299px;
  top:0px;
  width:155px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:37px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:454px;
  top:0px;
  width:118px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u13_ann {
  position:absolute;
  left:558px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:572px;
  top:0px;
  width:168px;
  height:36px;
  color:#000000;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:36px;
  width:53px;
  height:48px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:49px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:49px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:53px;
  top:36px;
  width:246px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:49px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:242px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:299px;
  top:36px;
  width:155px;
  height:48px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:49px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:151px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:454px;
  top:36px;
  width:118px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:572px;
  top:36px;
  width:168px;
  height:48px;
  color:#000000;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:49px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:84px;
  width:53px;
  height:34px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:35px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:49px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:53px;
  top:84px;
  width:246px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:35px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:242px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:299px;
  top:84px;
  width:155px;
  height:34px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:35px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:151px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:454px;
  top:84px;
  width:118px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:572px;
  top:84px;
  width:168px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:35px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:610px;
  top:10px;
  width:27px;
  height:16px;
  color:#0000FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:658px;
  top:10px;
  width:42px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u39_ann {
  position:absolute;
  left:693px;
  top:6px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:610px;
  top:45px;
  width:27px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:658px;
  top:45px;
  width:42px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:610px;
  top:86px;
  width:27px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:658px;
  top:86px;
  width:42px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:347px;
  top:2px;
  width:55px;
  height:33px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:347px;
  top:44px;
  width:55px;
  height:33px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:348px;
  top:85px;
  width:55px;
  height:33px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:33px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:28px;
  top:90px;
  width:52px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:48px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:80px;
  top:90px;
  width:256px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:34px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:252px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:480px;
  top:90px;
  width:138px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:330px;
  top:90px;
  width:163px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:159px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:610px;
  top:90px;
  width:180px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:100px;
  top:70px;
  visibility:hidden;
}
#u65_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u66 {
  position:absolute;
  left:10px;
  top:10px;
  width:540px;
  height:290px;
}
#u66_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:559px;
  height:309px;
}
#u67 {
  position:absolute;
  left:2px;
  top:137px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:20px;
  top:17px;
  width:20px;
  height:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:513px;
  top:18px;
  width:20px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:14px;
  top:40px;
  width:523px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:514px;
  top:-5px;
  width:14px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:523px;
  height:1px;
}
#u73 {
  position:absolute;
  left:370px;
  top:260px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:450px;
  top:260px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:50px;
  top:20px;
  width:79px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:86px;
  top:70px;
  width:150px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:86px;
  top:112px;
  width:150px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:86px;
  top:158px;
  width:150px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:187px;
  top:108px;
  width:180px;
  height:25px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u85_input {
  font-family:'Applied Font';
}
#u86 {
  position:absolute;
  left:187px;
  top:154px;
  width:180px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u86_input {
  font-family:'Applied Font';
}
#u87 {
  position:absolute;
  left:86px;
  top:198px;
  width:150px;
  height:16px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:187px;
  top:198px;
  width:100px;
  height:16px;
}
#u90 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u89_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u91 {
  position:absolute;
  left:267px;
  top:198px;
  width:100px;
  height:16px;
}
#u92 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u91_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u93 {
  position:absolute;
  left:380px;
  top:154px;
  width:40px;
  height:25px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u93_input {
  font-family:'Applied Font';
}
#u94 {
  position:absolute;
  left:187px;
  top:66px;
  width:180px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u94_input {
  font-family:'Applied Font';
}
#u95 {
  position:absolute;
  left:90px;
  top:70px;
  visibility:hidden;
}
#u95_state0 {
  position:relative;
  left:0px;
  top:0px;
}
#u96 {
  position:absolute;
  left:10px;
  top:10px;
  width:540px;
  height:290px;
}
#u96_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:559px;
  height:309px;
}
#u97 {
  position:absolute;
  left:2px;
  top:137px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:20px;
  top:17px;
  width:20px;
  height:20px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u99 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:513px;
  top:18px;
  width:20px;
  height:20px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:14px;
  top:40px;
  width:523px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:514px;
  top:-5px;
  width:14px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:523px;
  height:1px;
}
#u103 {
  position:absolute;
  left:370px;
  top:250px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:450px;
  top:250px;
  width:60px;
  height:30px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:50px;
  top:20px;
  width:79px;
  height:16px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:86px;
  top:70px;
  width:150px;
  height:16px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:86px;
  top:112px;
  width:150px;
  height:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:86px;
  top:158px;
  width:150px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:187px;
  top:108px;
  width:180px;
  height:25px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u115_input {
  font-family:'Applied Font';
}
#u116 {
  position:absolute;
  left:187px;
  top:154px;
  width:180px;
  height:25px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u116_input {
  font-family:'Applied Font';
}
#u117 {
  position:absolute;
  left:86px;
  top:198px;
  width:150px;
  height:16px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:187px;
  top:198px;
  width:100px;
  height:16px;
}
#u120 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u119_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u121 {
  position:absolute;
  left:267px;
  top:198px;
  width:100px;
  height:16px;
}
#u122 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u121_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u123 {
  position:absolute;
  left:380px;
  top:154px;
  width:40px;
  height:25px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u123_input {
  font-family:'Applied Font';
}
#u124 {
  position:absolute;
  left:187px;
  top:66px;
  width:180px;
  height:25px;
}
#u124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u124_input {
  font-family:'Applied Font';
}
#u125 {
  position:absolute;
  left:680px;
  top:55px;
  width:100px;
  height:25px;
}
#u125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u125_input {
  font-family:'Applied Font';
}
