body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0 {
  position:absolute;
  left:28px;
  top:20px;
  width:82px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:27px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:78px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:41px;
  width:610px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:601px;
  top:-5px;
  width:14px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:610px;
  height:1px;
}
#u3 {
  position:absolute;
  left:62px;
  top:96px;
  width:180px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3_input {
  font-family:'Applied Font';
}
#u4 {
  position:absolute;
  left:62px;
  top:131px;
  width:180px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:62px;
  top:166px;
  width:180px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5_input {
  font-family:'Applied Font';
}
#u6 {
  position:absolute;
  left:101px;
  top:70px;
  width:150px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:302px;
  top:70px;
  width:150px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:444px;
  top:70px;
  width:150px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:555px;
  top:70px;
  width:150px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:287px;
  top:96px;
  width:70px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14_input {
  font-family:'Applied Font';
}
#u15 {
  position:absolute;
  left:287px;
  top:131px;
  width:70px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15_input {
  font-family:'Applied Font';
}
#u16 {
  position:absolute;
  left:287px;
  top:166px;
  width:70px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:462px;
  top:105px;
  width:100px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:462px;
  top:135px;
  width:100px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:462px;
  top:170px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:538px;
  top:96px;
  width:50px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u23_input {
  font-family:'Applied Font';
}
#u24 {
  position:absolute;
  left:606px;
  top:100px;
  width:150px;
  height:16px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:607px;
  top:136px;
  width:150px;
  height:16px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:606px;
  top:170px;
  width:150px;
  height:16px;
  color:#0000FF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:28px;
  top:253px;
  width:692px;
  height:10px;
}
#u30_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:14px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:5px;
  width:692px;
  height:1px;
}
#u31 {
  position:absolute;
  left:36px;
  top:273px;
  width:150px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:62px;
  top:307px;
  width:150px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:330px;
  top:308px;
  width:40px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:462px;
  top:309px;
  width:74px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:130px;
  top:303px;
  width:146px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u39_input {
  font-family:'Applied Font';
}
#u40 {
  position:absolute;
  left:513px;
  top:309px;
  width:100px;
  height:16px;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:370px;
  top:305px;
  width:25px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u42_input {
  font-family:'Applied Font';
}
#u43 {
  position:absolute;
  left:580px;
  top:301px;
  width:49px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43_input {
  font-family:'Applied Font';
}
#u43_ann {
  position:absolute;
  left:622px;
  top:297px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:62px;
  top:201px;
  width:619px;
  height:43px;
  overflow:hidden;
  visibility:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u45 {
  position:absolute;
  left:0px;
  top:10px;
  width:180px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u45_input {
  font-family:'Applied Font';
}
#u46 {
  position:absolute;
  left:225px;
  top:10px;
  width:70px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u46_input {
  font-family:'Applied Font';
}
#u47 {
  position:absolute;
  left:400px;
  top:14px;
  width:100px;
  height:16px;
}
#u48 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u49 {
  position:absolute;
  left:476px;
  top:10px;
  width:50px;
  height:25px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u49_input {
  font-family:'Applied Font';
}
#u50 {
  position:absolute;
  left:544px;
  top:14px;
  width:150px;
  height:16px;
  color:#0000FF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:177px;
  top:86px;
  width:339px;
  height:215px;
  overflow:hidden;
  visibility:hidden;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:215px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u53 {
  position:absolute;
  left:40px;
  top:30px;
  width:280px;
  height:160px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:161px;
}
#u54 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:53px;
  top:37px;
  width:20px;
  height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:82px;
  top:39px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:40px;
  top:56px;
  width:280px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:14px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u60 {
  position:absolute;
  left:82px;
  top:150px;
  width:78px;
  height:30px;
  color:#000000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:190px;
  top:150px;
  width:78px;
  height:30px;
  color:#000000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:140px;
  top:94px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:187px;
  top:96px;
  width:339px;
  height:215px;
  overflow:hidden;
  visibility:hidden;
}
#u66_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:215px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
}
#u67 {
  position:absolute;
  left:40px;
  top:30px;
  width:280px;
  height:160px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:161px;
}
#u68 {
  position:absolute;
  left:2px;
  top:72px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:53px;
  top:37px;
  width:20px;
  height:18px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u70 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:82px;
  top:39px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:40px;
  top:56px;
  width:280px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:-4px;
  top:-5px;
  width:14px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:14px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u74 {
  position:absolute;
  left:82px;
  top:150px;
  width:78px;
  height:30px;
  color:#000000;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:190px;
  top:150px;
  width:78px;
  height:30px;
  color:#000000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:31px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:140px;
  top:94px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:17px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:538px;
  top:135px;
  width:50px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u80_input {
  font-family:'Applied Font';
}
#u81 {
  position:absolute;
  left:538px;
  top:170px;
  width:50px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u81_input {
  font-family:'Applied Font';
}
#u82 {
  position:absolute;
  left:620px;
  top:16px;
  width:100px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u82_input {
  font-family:'Applied Font';
}
