<!DOCTYPE html>
<html>
  <head>
    <title>我的面板</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/我的面板/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototype/axQuery.js"></script>
    <script src="resources/scripts/prototype/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/prototype/annotation.js"></script>
    <script src="resources/scripts/prototype/axQuery.std.js"></script>
    <script src="resources/scripts/prototype/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/prototype/events.js"></script>
    <script src="resources/scripts/prototype/action.js"></script>
    <script src="resources/scripts/prototype/expr.js"></script>
    <script src="resources/scripts/prototype/geometry.js"></script>
    <script src="resources/scripts/prototype/flyout.js"></script>
    <script src="resources/scripts/prototype/ie.js"></script>
    <script src="resources/scripts/prototype/model.js"></script>
    <script src="resources/scripts/prototype/repeater.js"></script>
    <script src="resources/scripts/prototype/sto.js"></script>
    <script src="resources/scripts/prototype/utils.temp.js"></script>
    <script src="resources/scripts/prototype/variables.js"></script>
    <script src="resources/scripts/prototype/drag.js"></script>
    <script src="resources/scripts/prototype/move.js"></script>
    <script src="resources/scripts/prototype/visibility.js"></script>
    <script src="resources/scripts/prototype/style.js"></script>
    <script src="resources/scripts/prototype/adaptive.js"></script>
    <script src="resources/scripts/prototype/tree.js"></script>
    <script src="resources/scripts/prototype/init.temp.js"></script>
    <script src="files/我的面板/data.js"></script>
    <script src="resources/scripts/prototype/legacy.js"></script>
    <script src="resources/scripts/prototype/viewer.js"></script>
  </head>
  <body>

    <!-- Unnamed (形状) -->
    <div id="u0" class="ax_形状">
      <img id="u0_img" class="img " src="images/我的面板/u0.png"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u2" class="ax_形状">
      <img id="u2_img" class="img " src="images/我的面板/u2.png"/>
      <!-- Unnamed () -->
      <div id="u3" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4" class="ax_形状">
      <img id="u4_img" class="img " src="images/我的面板/u4.png"/>
      <!-- Unnamed () -->
      <div id="u5" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u6" class="ax_形状">
      <img id="u6_img" class="img " src="images/我的面板/u6.png"/>
      <!-- Unnamed () -->
      <div id="u7" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u8" class="ax_h1">
      <img id="u8_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u9" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">电商后台管理系统</span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u10" class="ax_图片">
      <img id="u10_img" class="img " src="images/我的面板/u10.png"/>
      <!-- Unnamed () -->
      <div id="u11" class="text"></div>
    </div>

    <!-- Unnamed (内部框架) -->
    <iframe id="u12" basesrc="" scrolling="auto" frameborder="0"></iframe>

    <!-- Unnamed (图片) -->
    <div id="u13" class="ax_图片">
      <img id="u13_img" class="img " src="images/我的面板/u13.png"/>
      <!-- Unnamed () -->
      <div id="u14" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u15" class="ax_文本">
      <img id="u15_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u16" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">现在时间：2013-11-19 17:10:45</span><span style="font-family:'Applied Font Regular', 'Applied Font';"> 周二</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u17" class="ax_形状">
      <img id="u17_img" class="img " src="images/我的面板/u17.png"/>
      <!-- Unnamed () -->
      <div id="u18" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">退</span><span style="font-family:'Applied Font Regular', 'Applied Font';">出</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u19" class="ax_文本">
      <img id="u19_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u20" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">网站首页</span></p>
      </div>
    </div>

    <!-- m2 (形状) -->
    <div id="u21" class="ax_形状" data-label="m2">
      <img id="u21_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u22" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">内容管理</span></p>
      </div>
    </div>

    <!-- m1 (形状) -->
    <div id="u23" class="ax_形状" data-label="m1">
      <img id="u23_img" class="img " src="images/我的面板/m1_u23.png"/>
      <!-- Unnamed () -->
      <div id="u24" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">我的面板</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u25" class="ax_文本">
      <img id="u25_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u26" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">你好，amdin&nbsp; 系统管理员 </span></p>
      </div>
    </div>

    <!-- m3 (形状) -->
    <div id="u27" class="ax_形状" data-label="m3">
      <img id="u27_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u28" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">产品中心</span></p>
      </div>
    </div>

    <!-- m4 (形状) -->
    <div id="u29" class="ax_形状" data-label="m4">
      <img id="u29_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u30" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">订单</span><span style="font-family:'Applied Font Regular', 'Applied Font';">管理</span></p>
      </div>
    </div>

    <!-- m5 (形状) -->
    <div id="u31" class="ax_形状" data-label="m5">
      <img id="u31_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u32" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">会员</span><span style="font-family:'Applied Font Regular', 'Applied Font';">管理</span></p>
      </div>
    </div>

    <!-- m6 (形状) -->
    <div id="u33" class="ax_形状" data-label="m6">
      <img id="u33_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u34" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">统计报表</span></p>
      </div>
    </div>

    <!-- m7 (形状) -->
    <div id="u35" class="ax_形状" data-label="m7">
      <img id="u35_img" class="img " src="images/我的面板/m7_u35.png"/>
      <!-- Unnamed () -->
      <div id="u36" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">其它</span></p>
      </div>
    </div>

    <!-- 子菜单 (动态面板) -->
    <div id="u37" class="ax_动态面板" data-label="子菜单">
      <div id="u37_state0" class="panel_state" data-label="我的面板">

        <!-- 我的面板子菜单 (树) -->
        <div id="u38" class="ax_树节点 treeroot" data-label="我的面板子菜单">
          <div id="u38_children" class="u38_children" data-label="我的面板子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u39" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u40" class="ax_图片">
                <img id="u40_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u41" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u42" class="" selectiongroup="u38_tree_group">
                <img id="u42_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u43" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">个人资料管理</span></p>
                </div>
              </div>
              <div id="u39_children" class="u39_children">

                <!-- Unnamed (树节点) -->
                <div id="u44" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u45" class="" selectiongroup="u38_tree_group">
                    <img id="u45_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u46" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">个人资料</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u47" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u48" class="" selectiongroup="u38_tree_group">
                    <img id="u48_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u49" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">修改密码</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (树节点) -->
            <div id="u50" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u51" class="ax_图片">
                <img id="u51_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u52" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u53" class="" selectiongroup="u38_tree_group">
                <img id="u53_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u54" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">账号管理</span></p>
                </div>
              </div>
              <div id="u50_children" class="u50_children">

                <!-- Unnamed (树节点) -->
                <div id="u55" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u56" class="" selectiongroup="u38_tree_group">
                    <img id="u56_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u57" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">角色列表</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u58" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u59" class="" selectiongroup="u38_tree_group">
                    <img id="u59_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u60" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">角色授权</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u61" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u62" class="" selectiongroup="u38_tree_group">
                    <img id="u62_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u63" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">账号列表</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state1" class="panel_state" data-label="内容管理">

        <!-- 内容管理子菜单 (树) -->
        <div id="u64" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u64_children" class="u64_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u65" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u66" class="ax_图片">
                <img id="u66_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u67" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u68" class="" selectiongroup="u64_tree_group">
                <img id="u68_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u69" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">内容管理</span></p>
                </div>
              </div>
              <div id="u65_children" class="u65_children">

                <!-- Unnamed (树节点) -->
                <div id="u70" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u71" class="" selectiongroup="u64_tree_group">
                    <img id="u71_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u72" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">栏目管理</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u73" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u74" class="" selectiongroup="u64_tree_group">
                    <img id="u74_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u75" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">新闻列表</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u76" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u77" class="" selectiongroup="u64_tree_group">
                    <img id="u77_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u78" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">公告列表</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state2" class="panel_state" data-label="产品中心">

        <!-- 内容管理子菜单 (树) -->
        <div id="u79" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u79_children" class="u79_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u80" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u81" class="ax_图片">
                <img id="u81_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u82" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u83" class="" selectiongroup="u79_tree_group">
                <img id="u83_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u84" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">产品中心</span></p>
                </div>
              </div>
              <div id="u80_children" class="u80_children">

                <!-- Unnamed (树节点) -->
                <div id="u85" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u86" class="" selectiongroup="u79_tree_group">
                    <img id="u86_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u87" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">产品分类</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u88" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u89" class="" selectiongroup="u79_tree_group">
                    <img id="u89_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u90" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">产品入库</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u91" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u92" class="" selectiongroup="u79_tree_group">
                    <img id="u92_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u93" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">发布商品</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u94" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u95" class="" selectiongroup="u79_tree_group">
                    <img id="u95_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u96" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">商品列表</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state3" class="panel_state" data-label="订单管理">

        <!-- 内容管理子菜单 (树) -->
        <div id="u97" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u97_children" class="u97_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u98" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u99" class="ax_图片">
                <img id="u99_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u100" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u101" class="" selectiongroup="u97_tree_group">
                <img id="u101_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u102" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">订单管理</span></p>
                </div>
              </div>
              <div id="u98_children" class="u98_children">

                <!-- Unnamed (树节点) -->
                <div id="u103" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u104" class="" selectiongroup="u97_tree_group">
                    <img id="u104_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u105" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">充值管理</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u106" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u107" class="" selectiongroup="u97_tree_group">
                    <img id="u107_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u108" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">订单列表</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u109" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u110" class="" selectiongroup="u97_tree_group">
                    <img id="u110_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u111" class="text"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state4" class="panel_state" data-label="会员管理">

        <!-- 内容管理子菜单 (树) -->
        <div id="u112" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u112_children" class="u112_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u113" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u114" class="ax_图片">
                <img id="u114_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u115" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u116" class="" selectiongroup="u112_tree_group">
                <img id="u116_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u117" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">会员管理</span></p>
                </div>
              </div>
              <div id="u113_children" class="u113_children">

                <!-- Unnamed (树节点) -->
                <div id="u118" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u119" class="" selectiongroup="u112_tree_group">
                    <img id="u119_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u120" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">会员列表</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u121" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u122" class="" selectiongroup="u112_tree_group">
                    <img id="u122_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u123" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">会员等级管理</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state5" class="panel_state" data-label="统计报表">

        <!-- 内容管理子菜单 (树) -->
        <div id="u124" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u124_children" class="u124_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u125" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u126" class="ax_图片">
                <img id="u126_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u127" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u128" class="" selectiongroup="u124_tree_group">
                <img id="u128_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u129" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">统计报表</span></p>
                </div>
              </div>
              <div id="u125_children" class="u125_children">

                <!-- Unnamed (树节点) -->
                <div id="u130" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u131" class="" selectiongroup="u124_tree_group">
                    <img id="u131_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u132" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">统计报表</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u37_state6" class="panel_state" data-label="其它">

        <!-- 内容管理子菜单 (树) -->
        <div id="u133" class="ax_树节点 treeroot" data-label="内容管理子菜单">
          <div id="u133_children" class="u133_children" data-label="内容管理子菜单">

            <!-- Unnamed (树节点) -->
            <div id="u134" class="ax_树节点 treenode">

              <!-- Unnamed (图片) -->
              <div id="u135" class="ax_图片">
                <img id="u135_img" class="img " src="images/我的面板/u40_selected.png"/>
                <!-- Unnamed () -->
                <div id="u136" class="text"></div>
              </div>
              <!-- Unnamed (形状) -->
              <div id="u137" class="" selectiongroup="u133_tree_group">
                <img id="u137_img" class="img " src="resources/images/transparent.gif"/>
                <!-- Unnamed () -->
                <div id="u138" class="text">
                  <p><span style="font-family:'Applied Font Regular', 'Applied Font';">其它</span></p>
                </div>
              </div>
              <div id="u134_children" class="u134_children">

                <!-- Unnamed (树节点) -->
                <div id="u139" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u140" class="" selectiongroup="u133_tree_group">
                    <img id="u140_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u141" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">系统设置</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u142" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u143" class="" selectiongroup="u133_tree_group">
                    <img id="u143_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u144" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">友情链接</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u145" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u146" class="" selectiongroup="u133_tree_group">
                    <img id="u146_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u147" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">广告管理</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u148" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u149" class="" selectiongroup="u133_tree_group">
                    <img id="u149_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u150" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">数据库备份</span></p>
                    </div>
                  </div>
                </div>

                <!-- Unnamed (树节点) -->
                <div id="u151" class="ax_树节点 treenode">
                  <!-- Unnamed (形状) -->
                  <div id="u152" class="" selectiongroup="u133_tree_group">
                    <img id="u152_img" class="img " src="resources/images/transparent.gif"/>
                    <!-- Unnamed () -->
                    <div id="u153" class="text">
                      <p><span style="font-family:'Applied Font Regular', 'Applied Font';">投诉建议</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- m2 (形状) -->
    <div id="u154" class="ax_形状" data-label="m2">
      <img id="u154_img" class="img " src="images/我的面板/m2_u21.png"/>
      <!-- Unnamed () -->
      <div id="u155" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">我的面板</span></p>
      </div>
    </div>
  </body>
</html>
