<!DOCTYPE html>
<html>
  <head>
    <title>投诉留言</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/投诉留言/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototype/axQuery.js"></script>
    <script src="resources/scripts/prototype/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/prototype/annotation.js"></script>
    <script src="resources/scripts/prototype/axQuery.std.js"></script>
    <script src="resources/scripts/prototype/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/prototype/events.js"></script>
    <script src="resources/scripts/prototype/action.js"></script>
    <script src="resources/scripts/prototype/expr.js"></script>
    <script src="resources/scripts/prototype/geometry.js"></script>
    <script src="resources/scripts/prototype/flyout.js"></script>
    <script src="resources/scripts/prototype/ie.js"></script>
    <script src="resources/scripts/prototype/model.js"></script>
    <script src="resources/scripts/prototype/repeater.js"></script>
    <script src="resources/scripts/prototype/sto.js"></script>
    <script src="resources/scripts/prototype/utils.temp.js"></script>
    <script src="resources/scripts/prototype/variables.js"></script>
    <script src="resources/scripts/prototype/drag.js"></script>
    <script src="resources/scripts/prototype/move.js"></script>
    <script src="resources/scripts/prototype/visibility.js"></script>
    <script src="resources/scripts/prototype/style.js"></script>
    <script src="resources/scripts/prototype/adaptive.js"></script>
    <script src="resources/scripts/prototype/tree.js"></script>
    <script src="resources/scripts/prototype/init.temp.js"></script>
    <script src="files/投诉留言/data.js"></script>
    <script src="resources/scripts/prototype/legacy.js"></script>
    <script src="resources/scripts/prototype/viewer.js"></script>
  </head>
  <body>

    <!-- Unnamed (形状) -->
    <div id="u0" class="ax_形状">
      <img id="u0_img" class="img " src="images/账户充值/u0.png"/>
      <!-- Unnamed () -->
      <div id="u1" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u2" class="ax_形状">
      <img id="u2_img" class="img " src="images/首页/u2.png"/>
      <!-- Unnamed () -->
      <div id="u3" class="text"></div>
    </div>

    <!-- Unnamed (文本框(单行)) -->
    <div id="u4" class="ax_文本框_单行_">
      <input id="u4_input" type="text" value="" class="text_sketch"/>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u5" class="ax_图片">
      <img id="u5_img" class="img " src="images/首页/u5.jpg"/>
      <!-- Unnamed () -->
      <div id="u6" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u7" class="ax_形状">
      <img id="u7_img" class="img " src="images/首页/u7.png"/>
      <!-- Unnamed () -->
      <div id="u8" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">搜索</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u9" class="ax_形状">
      <img id="u9_img" class="img " src="images/首页/u9.png"/>
      <!-- Unnamed () -->
      <div id="u10" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">首页</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u11" class="ax_形状">
      <img id="u11_img" class="img " src="images/首页/u9.png"/>
      <!-- Unnamed () -->
      <div id="u12" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">游戏充值</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u13" class="ax_形状">
      <img id="u13_img" class="img " src="images/首页/u9.png"/>
      <!-- Unnamed () -->
      <div id="u14" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">账户</span><span style="font-family:'Applied Font Regular', 'Applied Font';">充值</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u15" class="ax_形状">
      <img id="u15_img" class="img " src="images/首页/u9.png"/>
      <!-- Unnamed () -->
      <div id="u16" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">新闻资讯</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u17" class="ax_形状">
      <img id="u17_img" class="img " src="images/首页/u9.png"/>
      <!-- Unnamed () -->
      <div id="u18" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">帮助中心</span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u19" class="ax_图片">
      <img id="u19_img" class="img " src="images/首页/u19.jpg"/>
      <!-- Unnamed () -->
      <div id="u20" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u21" class="ax_形状">
      <img id="u21_img" class="img " src="images/会员中心/u21.png"/>
      <!-- Unnamed () -->
      <div id="u22" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u23" class="ax_形状">
      <img id="u23_img" class="img " src="images/会员中心/u23.png"/>
      <!-- Unnamed () -->
      <div id="u24" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';">Honly</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; 级别：普通会员</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; 帐户余额：</span><span style="font-family:'Applied Font Regular', 'Applied Font';">０元</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; 积分:0(每一元一分积分)</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u25" class="ax_形状">
      <img id="u25_img" class="img " src="images/会员中心/u25.png"/>
      <!-- Unnamed () -->
      <div id="u26" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; </span><a id="u27" class="link"><span style="font-family:'Applied Font Bold', 'Applied Font';font-weight:700;color:#0000FF;">个人资料</span></a></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; </span><a id="u28" class="link"><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">修改密码</span></a></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';">修改头像</span></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u29" class="ax_水平线">
      <img id="u29_start" class="img " src="resources/images/transparent.gif" alt="u29_start"/>
      <img id="u29_end" class="img " src="resources/images/transparent.gif" alt="u29_end"/>
      <img id="u29_line" class="img " src="images/会员中心/u29_line.png" alt="u29_line"/>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u30" class="ax_水平线">
      <img id="u30_start" class="img " src="resources/images/transparent.gif" alt="u30_start"/>
      <img id="u30_end" class="img " src="resources/images/transparent.gif" alt="u30_end"/>
      <img id="u30_line" class="img " src="images/会员中心/u29_line.png" alt="u30_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u31" class="ax_文本">
      <img id="u31_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u32" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">用户信息</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u33" class="ax_文本">
      <img id="u33_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u34" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">资料管理</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u35" class="ax_形状">
      <img id="u35_img" class="img " src="images/会员中心/u35.png"/>
      <!-- Unnamed () -->
      <div id="u36" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&nbsp;</span></p><p><a id="u37" class="link"><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">订单列表</span></a></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">订单查询</span></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u38" class="ax_水平线">
      <img id="u38_start" class="img " src="resources/images/transparent.gif" alt="u38_start"/>
      <img id="u38_end" class="img " src="resources/images/transparent.gif" alt="u38_end"/>
      <img id="u38_line" class="img " src="images/会员中心/u29_line.png" alt="u38_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u39" class="ax_文本">
      <img id="u39_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u40" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">订单管理</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u41" class="ax_形状">
      <img id="u41_img" class="img " src="images/会员中心/u35.png"/>
      <!-- Unnamed () -->
      <div id="u42" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">积分查询</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; 余额查询</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><a id="u43" class="link"><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">在线充值</span></a></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u44" class="ax_水平线">
      <img id="u44_start" class="img " src="resources/images/transparent.gif" alt="u44_start"/>
      <img id="u44_end" class="img " src="resources/images/transparent.gif" alt="u44_end"/>
      <img id="u44_line" class="img " src="images/会员中心/u29_line.png" alt="u44_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u45" class="ax_文本">
      <img id="u45_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u46" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">充值管理</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u47" class="ax_形状">
      <img id="u47_img" class="img " src="images/会员中心/u35.png"/>
      <!-- Unnamed () -->
      <div id="u48" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">添加留言</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><a id="u49" class="link"><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">我的</span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">投诉</span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">留言</span></a></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u50" class="ax_水平线">
      <img id="u50_start" class="img " src="resources/images/transparent.gif" alt="u50_start"/>
      <img id="u50_end" class="img " src="resources/images/transparent.gif" alt="u50_end"/>
      <img id="u50_line" class="img " src="images/会员中心/u29_line.png" alt="u50_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u51" class="ax_文本">
      <img id="u51_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u52" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">留言投诉</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u53" class="ax_形状">
      <img id="u53_img" class="img " src="images/会员中心/u53.png"/>
      <!-- Unnamed () -->
      <div id="u54" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">&#149; </span><span style="font-family:'Applied Font Regular', 'Applied Font';color:#333333;">我的</span><a id="u55" class="link"><span style="font-family:'Applied Font Regular', 'Applied Font';color:#0000FF;">收藏</span></a></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u56" class="ax_水平线">
      <img id="u56_start" class="img " src="resources/images/transparent.gif" alt="u56_start"/>
      <img id="u56_end" class="img " src="resources/images/transparent.gif" alt="u56_end"/>
      <img id="u56_line" class="img " src="images/会员中心/u29_line.png" alt="u56_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u57" class="ax_文本">
      <img id="u57_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u58" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">其他管理</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u59" class="ax_文本">
      <img id="u59_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u60" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">当前位置：首页 》会员中心</span></p>
      </div>
    </div>

    <!-- Unnamed (水平线) -->
    <div id="u61" class="ax_水平线">
      <img id="u61_start" class="img " src="resources/images/transparent.gif" alt="u61_start"/>
      <img id="u61_end" class="img " src="resources/images/transparent.gif" alt="u61_end"/>
      <img id="u61_line" class="img " src="images/会员中心/u61_line.png" alt="u61_line"/>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u62" class="ax_文本">
      <img id="u62_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u63" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">你好，</span><span style="font-family:'Applied Font Regular', 'Applied Font';">Honly</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u64" class="ax_形状">
      <img id="u64_img" class="img " src="images/会员中心/u64.png"/>
      <!-- Unnamed () -->
      <div id="u65" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">退出</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u66" class="ax_文本">
      <img id="u66_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u67" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u68" class="ax_文本">
      <img id="u68_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u69" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">添加留言建议</span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u70" class="ax_图片">
      <img id="u70_img" class="img " src="images/我的投诉建议/u70.png"/>
      <!-- Unnamed () -->
      <div id="u71" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u72" class="ax_文本">
      <img id="u72_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u73" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u74" class="ax_文本">
      <img id="u74_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u75" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">1</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u76" class="ax_文本">
      <img id="u76_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u77" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">2</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u78" class="ax_文本">
      <img id="u78_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u79" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">3</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u80" class="ax_文本">
      <img id="u80_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u81" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">4</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u82" class="ax_文本">
      <img id="u82_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u83" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">5</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u84" class="ax_文本">
      <img id="u84_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u85" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">6</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u86" class="ax_文本">
      <img id="u86_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u87" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">7</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u88" class="ax_文本">
      <img id="u88_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u89" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">8</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u90" class="ax_文本">
      <img id="u90_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u91" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';text-decoration:underline;">9</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u92" class="ax_形状">
      <img id="u92_img" class="img " src="images/产品展示/u129.png"/>
      <!-- Unnamed () -->
      <div id="u93" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u94" class="ax_文本">
      <img id="u94_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u95" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';text-decoration:underline;">Next</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u96" class="ax_形状">
      <img id="u96_img" class="img " src="images/我的投诉建议/u158.png"/>
      <!-- Unnamed () -->
      <div id="u97" class="text">
        <p><span style="font-family:'Applied Font Bold', 'Applied Font';">提交</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u98" class="ax_文本">
      <img id="u98_img" class="img " src="resources/images/transparent.gif"/>
      <!-- Unnamed () -->
      <div id="u99" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">标题：</span><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp; </span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">内容： </span><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p><p><span style="font-family:'Applied Font Regular', 'Applied Font';">&nbsp;</span></p>
      </div>
    </div>

    <!-- Unnamed (文本框(单行)) -->
    <div id="u100" class="ax_文本框_单行_">
      <input id="u100_input" type="text" value="" class="text_sketch"/>
    </div>

    <!-- Unnamed (文本框(多行)) -->
    <div id="u101" class="ax_文本框_多行_">
      <textarea id="u101_input" class="text_sketch"></textarea>
    </div>

    <!-- Unnamed (单选框) -->
    <div id="u102" class="ax_单选框">
      <label for="u102_input">
        <!-- Unnamed () -->
        <div id="u103" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">留言</span></p>
        </div>
      </label>
      <input id="u102_input" type="radio" value="radio" name="u102" checked/>
    </div>

    <!-- Unnamed (单选框) -->
    <div id="u104" class="ax_单选框">
      <label for="u104_input">
        <!-- Unnamed () -->
        <div id="u105" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">投诉</span></p>
        </div>
      </label>
      <input id="u104_input" type="radio" value="radio" name="u104"/>
    </div>

    <!-- Unnamed (单选框) -->
    <div id="u106" class="ax_单选框">
      <label for="u106_input">
        <!-- Unnamed () -->
        <div id="u107" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">建议</span></p>
        </div>
      </label>
      <input id="u106_input" type="radio" value="radio" name="u106"/>
    </div>

    <!-- 123 (动态面板) -->
    <div id="u108" class="ax_动态面板" data-label="123">
      <div id="u108_state0" class="panel_state" data-label="State1">

        <!-- Unnamed (形状) -->
        <div id="u109" class="ax_形状">
          <img id="u109_img" class="img " src="images/投诉留言/u109.png"/>
          <!-- Unnamed () -->
          <div id="u110" class="text"></div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u111" class="ax_图片">
          <img id="u111_img" class="img " src="images/新闻详情页/u40.png"/>
          <!-- Unnamed () -->
          <div id="u112" class="text"></div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u113" class="ax_文本">
          <img id="u113_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u114" class="text">
            <p><span style="font-family:'Applied Font Bold', 'Applied Font';">提示信息</span></p>
          </div>
        </div>

        <!-- Unnamed (水平线) -->
        <div id="u115" class="ax_水平线">
          <img id="u115_start" class="img " src="resources/images/transparent.gif" alt="u115_start"/>
          <img id="u115_end" class="img " src="resources/images/transparent.gif" alt="u115_end"/>
          <img id="u115_line" class="img " src="images/我的订单/u216_line.png" alt="u115_line"/>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u116" class="ax_形状">
          <img id="u116_img" class="img " src="images/我的订单/u217.png"/>
          <!-- Unnamed () -->
          <div id="u117" class="text">
            <p><span style="font-family:'Applied Font Regular', 'Applied Font';">确定</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u118" class="ax_形状">
          <img id="u118_img" class="img " src="images/我的订单/u217.png"/>
          <!-- Unnamed () -->
          <div id="u119" class="text">
            <p><span style="font-family:'Applied Font Regular', 'Applied Font';">取消</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u120" class="ax_文本">
          <img id="u120_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u121" class="text">
            <p><span style="font-family:'Applied Font Bold', 'Applied Font';">提交成功</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u122" class="ax_文本">
          <img id="u122_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u123" class="text">
            <p><span style="font-family:'Applied Font Regular', 'Applied Font';">秒后返回上一页</span></p>
          </div>
        </div>

        <!-- miao (形状) -->
        <div id="u124" class="ax_文本" data-label="miao">
          <img id="u124_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u125" class="text">
            <p><span style="font-family:'Applied Font Regular', 'Applied Font';">3</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
